@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,700");

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;

    .accordion {
        width: 500px;
        font-family: "Poppins", sans-serif;

        .item {
            margin-bottom: 10px;
            padding: 10px 20px;

            .title {
                display: flex;
                justify-content: start;
                align-items: center;
                cursor: pointer;
                background: steelblue;
                color: white;
                padding-left: 15px;
                padding-right: 15px;

                .right-arrow {
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-left: 8px solid white;
                    margin-right: 15px;
                }

                .bottom-arrow {
                    border-top: 8px solid white;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    margin-right: 15px;
                }
            }

            .content {
                height: auto;
                text-align: left;
                box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
                padding: 20px;
            }
        }
    }
}